{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1 class="uk-text-center uk-padding">Editer l'evenemment</h1>
    <div class="uk-card uk-card-default uk-card-large uk-card-body uk-container uk-container-small uk-padding">
        {{ include('event/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="uk-button uk-button-default uk-margin" href="{{ path('event_index') }}">Revenir à la liste des evenemments</a>

        {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
