{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="uk-flex uk-flex-column uk-flex-center"></div>
    <h1 class="uk-text-center uk-padding ">Ajouter un collaborateur</h1>
    <div class="uk-card uk-card-default uk-card-large uk-card-body uk-container uk-container-small uk-padding">
        
            {{ form(registrationForm) }}
       
    </div>
</div>
{% endblock %}
