:root {
	--black-text: #000000;
	--black: #222222;
	--brown: rgb(129, 55, 5);
	--grey: #EEEEEE;
	--ligth-grey: #F6F6F6;
	--white: white;
}


body{
    min-height: 100vh; /* 100 % de l'auteur*/
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background: url("../img/background.jpg") center center;
}

#links-nav{
	background-color: rgb(243, 240, 240);
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

#nav-admin{
	background-color: rgb(173, 212, 245)
}


main{
	min-height: 80vh;
	background-color:rgb(240, 243, 255);
	margin-top: 1em;
}

#logo{
    height:85px;
}

h1, h2, h3, nav a{
	font-family: 'Open Sans', sans-serif;
}

h1, h3{
	font-weight:700;
	text-align:center;
}

h1 {
	font-size: 32px;
	color: var(--brown);
}

h2 {
	font-size: 28px;
}

h3 {
    font-size: 20px;
}

#nav{
	background-color: rgb(252, 252, 111);
}

.uk-navbar-nav li  a, #crm{
	font-size: 20px;
	color: var(--black-text);
}

#crm{
	padding-top:20px;
	font-size: 30px;
	color:rgb(12, 83, 100);
}

#calendrier{
	width: 86%;
	margin: auto;
}


.uk-table, .uk-table td, .uk-table th{
    border: 2px solid black;
}

.uk-table td,  .uk-table a{
    background-color: white;
    color:rgb(6, 4, 37)

} 
 .uk-table th{
    background-color: rgb(122, 185, 226);
    color: var(--brown);;
 }
