:root {
	--black-text: #000000;
	--black: #222222;
	--dark-grey: #818181;
	--grey: #EEEEEE;
	--ligth-grey: #F6F6F6;
	--white: white;
	--red: red;
}


body{
    min-height: 100vh; /* 100 % de l'auteur*/
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	/* background-color: var(--white); */
	background: url("assets/img/background.jpg") center center;
}

#links-nav{
	background-color: rgb(243, 240, 240)
}

#nav-admin{
	background-color: rgb(202, 203, 212)
}


/* main{

    background-color:rgb(244, 244, 248);
} */



#logo{
    height:85px;
}

h1, h2, h3, nav a{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
	font-weight:700;
	text-align:center;
}

h1, h2 {
	font-size: 32px;
}

h3 {
    font-size: 20px;
}

/*-------------------------*/
/* HEADER             
/*-------------------------*/

nav{
	background-color: var(--white);
}

.uk-navbar-nav li  a{
	font-size: 20px;
	color: var(--black-text);
}


