{% extends 'base.html.twig' %}

{% block title %}Edition de contact{% endblock %}

{% block body %}
    <h1>Edition de contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('contact_index') }}">Revenir à la liste de contact</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
