{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-column uk-flex-center">
        <h1 class="uk-text-center uk-padding">Créer un nouveau contact</h1>
        <div class="uk-card uk-card-default uk-card-body">
            {{ include('contact/_form.html.twig') }}
            <div class="uk-text-center uk-padding">
                <a class="uk-button uk-button-default" href="{{ path('contact_index') }}">Revenir à la liste de contacts</a>
            </div>
        </div>

    </div>
{% endblock %}
