{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a class="uk-button uk-button-primary" href="{{ path('contact_index') }}">Revenir à la liste de contacts</a>
{% endblock %}
