{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <h1 class="uk-text-center uk-padding">Créer un nouveau contact</h1>

    {{ include('contact/_form.html.twig') }}
    <div class="uk-text-center uk-padding">
        <a class="uk-button uk-button-default" href="{{ path('contact_index') }}">Revenir à la liste de contacts</a>
    </div>
{% endblock %}
