{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="uk-text-center uk-padding">
        <button class="uk-button uk-button-secondary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
