{% extends 'base.html.twig' %}

{% block title %}Ajout d'une entreprise{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-column uk-flex-center">
        <h1 class="uk-text-center uk-padding">Ajouter une entreprise</h1>
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            {{ include('company/_form.html.twig') }}
            <div class="uk-text-center uk-padding">
                <a class="uk-button uk-button-default" href="{{ path('company_index') }}">Revenir à la liste des entreprises</a>
            </div>
        </div>
    </div>
{% endblock %}
